*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;}

body{
  background-image: url("/static/texture.jpg");
  height: 100%;

/*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
}

img{vertical-align: middle;}
ul{list-style-type: none;}
a:link {
    text-decoration: none;
    color: #0B0763;
    cursor: pointer;
}
a:hover {
    /*text-decoration: underline;*/
    color: #FFF;
}

a:active {
    /*text-decoration: underline;*/
    color: #FFF;
}
#dlist{
  /*background-image: url("/static/wcontent.png");background-repeat: no-repeat;*/
width: 69%;float: right;
/*height: 459px;*/
background-color: #FFF;
background: rgba(255, 255, 255, 0.5);
}

  /*#fullpage{max-width: 63em;margin: auto;}*/
#ddashboard{max-width: 950px;margin: auto;font-size: 18px;font-family: 'Ubuntu';

}
#dlogout:after{content: ""; display: table; clear: both;}
#dlogout{color: #FFF;padding-right: 10px;}
#dlogout ul{float: right;cursor: pointer;}
#dlogout li{display:inline;}
.csubmenu{padding-top: 6px;}
.csubmenu span{font-size: 13px;padding-left: 8px;}
.cmenu{background-image: url("/static/wmenu.png");background-repeat: no-repeat;
width: 30%;height: 459px;float: left;}
.cmenu ul{padding-top: 3em;}
.cmenu li{padding-bottom: 1em;}
.csubmenu{padding-left: 4px;}
.flex-container {
  padding: 2em;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content:flex-start;
}

.flex-item{cursor: pointer;}



#c-login{margin: auto;max-width: 100%;width: 416px;height: 387px;margin-top: 4em;
background-image: url("/static/loginuser2.png");background-repeat: no-repeat;
font-family: 'Ubuntu';
 }
.c-inner{padding-top: 10em;padding-left: 2em;font-family: 'Ubuntu';}
#d-salahpass{color: #FFF;font-weight: bold;animation-duration: 3s;
  animation-name: slidein;}
  @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*input:required:invalid, input:focus:invalid {
    background-image: url("/static/error.png");
    background-position: right;
    background-repeat: no-repeat;
  }
  input:required:valid {
    background-image: url("/static/checked.png");
    background-position: right;
    background-repeat: no-repeat;
  }*/
  #frminputsiswa{
    margin-bottom: 10px;
    /*display: flex;*/
    align-items: center;
    font-size: 14px;
    /*padding: 10px;*/
    padding-left: 10px;
    padding-right: 10px;
  }
  #frminputsiswa  label {
    display: inline-block;
    width: 300px;
  }
  #frminputsiswa fieldset {
  border : 1px solid #555;
  border-radius: 5px;
  margin : 0;
  /*padding: 1em;*/
}
    #frminputsiswa input:required:invalid+span,input:focus:invalid{
      content: '✖';
      padding-left: 5px;
  }

    #frminputsiswa input:required:valid+span {
      content: '✓';
      padding-left: 5px;
  }
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      /*color: #666;*/
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: #F87DA9;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }


#c-login input[type=text],input[type=password] {
    width: 93%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #4C98BC;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
    opacity: 0.5;
}

#frminputsiswa input[type=submit],input[type=reset] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #FFF;
    background-color: Transparent;
    color: #FFF;
    /*border-radius: 4px;*/
    font-size: 16px;
    box-sizing: border-box;
}

#c-login input[type=submit] {
    width: 93%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #FFF;
    background-color: Transparent;
    color: #FFF;
    /*border-radius: 4px;*/
    font-size: 1em;
    box-sizing: border-box;
}

#c-login input[type=submit]:focus{
  background-color: #0095FF;
}

.imgerror{cursor: pointer;}

.msgerror{font-weight: bold;color: red;width: 100%;overflow: auto;
  background: rgba(255, 255, 255, 0.5);
/*background-color: #c7cdfa;*/
}
.msgerror ul{float: right;padding-right: 10px;}

#frminputsiswa input[type=submit]:focus{
  background-color: #0095FF;
}

#frminputsiswa input[type=reset]:focus{
  background-color: #0095FF;
}
#frminputsiswa input[type=reset]:hover {
  cursor: pointer;
  background-color: #0095FF;
}
#c-login input[type=submit]:hover {
  cursor: pointer;
  background-color: #0095FF;
}
#frminputsiswa input[type=submit]:hover {
  cursor: pointer;
  background-color: #0095FF;
}
/* Style the tab */
.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    /*background-color: #f1f1f1;*/

}
.tab button {
    background-color: inherit;
    float: left;
  border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    /*transition: 0.3s;*/
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 2px;
    /*padding: 6px 12px;*/
    /*border: 1px solid #ccc;
    border-top: none;*/
}
