<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
    <title>{{the_title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dekorasi.css') }}">

    <style type="text/css">
    @font-face {
      font-family: Ubuntu;
      src: url('{{ url_for('static', filename='fonts/Ubuntu-Light.ttf')}}');
    }
  </style>
</head>
<body>
<script src="{{url_for('static', filename='js/jquery-ui-1.12.1/jquery.js')}}"></script>
<script src="{{url_for('static', filename='js/dist/jquery.inputmask.bundle.min.js')}}"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block body %}
{% endblock %}
</body>
</html>
