{% extends 'base.html' %}
{% block body %}

<div id="ddashboard">
  <div id="dlogout">
  <ul>
    <li><a href="{{ url_for('exit') }}">
      <img src='{{ url_for('static', filename='wlogout.png')}}' alt="logout"></a></li>
    <li><a href="{{ url_for('exit') }}">Logout</a></li>
  </ul>

  </div>

  <nav role="navigations">
  <div class="cmenu">
    <ul>
      <li> <a href="#">Data Siswa</a><br>
        <div class="csubmenu">
            <span><a href="{{ url_for('inputdatasiswa') }}">Input Data Siswa</a></span><br>
            <span><a href="{{ url_for('caridatasiswa') }}">Cari Data</a></span> <br>
             <span><a href="{{ url_for('inputkelas') }}">Input Kelas</a></span><br>
            <span><a href="{{ url_for('statistiksiswa') }}">Statistik Siswa </a> </span>
        </div>

      </li>
      <li><a href="#">Data Presensi</a></li>
      <li> <a href="#">Data User</a> </li>
      <li><a href="#">Setting Presensi</a></li>
    </ul>
  </div>
  </nav>


  <div id="dlist" >

<div class="tab">
<button type="button" name="button" class="tablinks" onclick="tabsiswa(event,'frminputsiswa')">Input Siswa</button>
<button type="button" name="button" class="tablinks" onclick="tabsiswa(event,'updatesiswa')">Update Siswa</button>
</div>

<div id="frminputsiswa" class="tabcontent">
  <div class="msgerror">
  <ul >

      {% with messages = get_flashed_messages(category_filter=["foto"]) %}
        {% if messages %}

          {% for message in messages %}
            <li id="errorfoto" >{{ message }} <img class="imgerror" src='{{ url_for('static', filename='warning.png')}}' alt="error" onclick="tutupmsg()"></li>
          {% endfor %}

        {% endif %}
      {% endwith %}

    <!-- <li>

      <img class="imgerror" src='{{ url_for('static', filename='error.png')}}' alt="error" onclick="tutupmsg()">
    </li> -->
  </ul>

</div>
  <div class="msgerror">
  <ul >

      {% with messages = get_flashed_messages(category_filter=["db"]) %}
        {% if messages %}

          {% for message in messages %}
            <li id="errorfoto" >{{ message }} <img class="imgerror" src='{{ url_for('static', filename='error.png')}}' alt="error" onclick="tutupmsg()"></li>
          {% endfor %}

        {% endif %}
      {% endwith %}

    <!-- <li>

      <img class="imgerror" src='{{ url_for('static', filename='error.png')}}' alt="error" onclick="tutupmsg()">
    </li> -->
  </ul>

</div>
   <div class="msgerror">
  <ul >

      {% with messages = get_flashed_messages(category_filter=["kartu"]) %}
        {% if messages %}

          {% for message in messages %}
            <li id="errorfoto" >{{ message }} <img class="imgerror" src='{{ url_for('static', filename='error.png')}}' alt="error" onclick="tutupmsg()"></li>
          {% endfor %}

        {% endif %}
      {% endwith %}

    <!-- <li>

      <img class="imgerror" src='{{ url_for('static', filename='error.png')}}' alt="error" onclick="tutupmsg()">
    </li> -->
  </ul>

</div>
<div id="nismsgerror">
<ul >
    <li><img class="imgerror" src='{{ url_for('static', filename='error.png')}}' alt="error" onclick="tutupmsgnis()"></li>
    <li id="errornis" >       </li>
</ul>

</div>

{% include 'frmsiswa.html' %}


</div>

<div id="updatesiswa" class="tabcontent">
  <div class="dcarinis">
      <input type="search" id="caritb" name="caritb"
       placeholder="Cari Nis atau Nama">
      <button>Search</button>
    </div>

<div id="dtbnis">


  <table id="tb_siswa">

  <tr>
    <th>Nis</th>
    <th>Nama</th>
    <th>Edit</th>
    <th>Hapus</th>
  </tr>

      {% for row in rows %}


  <div class="dimgedit"><img class="imgaksi" src='{{ url_for('static', filename='pencil.png')}}' alt="error" onclick="overlay({{ row[0]}})"></div>
  <div class="dimghps"><a href="/delsis/{{ row[0]}}"> <img class="imgaksi" src='{{ url_for('static', filename='error.png')}}' alt="error" ></a></div>


        <tr>

          <td>{{ row[0]}}</td>
          <td>{{ row[1] }}</td>
          <td><img class="imgaksi" src='{{ url_for('static', filename='pencil.png')}}' alt="error" onclick="overlay({{ row[0]}})"></td>
          <!--<td><img class="imgaksi" src='{{ url_for('static', filename='error.png')}}' alt="error" onclick=delsis({{ row[0]}})></td>-->
          <td><a href="/delsis/{{ row[0]}}"> <img class="imgaksi" src='{{ url_for('static', filename='error.png')}}' alt="error" ></a></td>

        </tr>
      {% endfor %}



  </table>
  </div>
</div>


  </div>

</div>

<div id="dedit">
     <div id="frmeditsiswa">
        {% include 'frmsiswaedit.html' %}
     </div>
</div>

<script type="text/javascript">
function overlay(ns) {
	// el = document.getElementById("dedit");
	// el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
  $("#dedit").show("slow");
  cariedit(ns);
}

function isEmpty(obj) {
    for(var key in obj) {
        if(obj.hasOwnProperty(key))
            return false;
    }
    return true;
}

function cariupdate(ns) {
  $.ajax({

    url: $SCRIPT_ROOT + "/caritb_nis/" + ns,
    success: function( response ) {
      // console.log('caritb:'+response);
$("#tb_siswa").find("tr:gt(0)").remove();
var table = document.getElementById("tb_siswa");
var i=0;

// if (typeof response !== 'undefined' || response != null || response.length>0) {

// if (response === undefined || response.length == 0) {
if(isEmpty(response)){
console.log("kosong");
}
else {
console.log("aya");
}

//masih error on Id
var ed=document.getElementsByClassName("dimgedit");
var hp=document.getElementsByClassName("dimghps");

  $.each(response, function(index, value) {
        i++;
        var rec = table.insertRow(i);
        var cell1 = rec.insertCell(0);
        var cell2 = rec.insertCell(1);
        var cell3 = rec.insertCell(2);
        var cell4 = rec.insertCell(3);
        // console.log("Nis: "+value.nis);
        cell1.innerHTML =value.nis;
        cell2.innerHTML = value.nama;
        $('.dimgedit imgs').attr('onclick', cariedit(value.nis));
        $('.dimghps a').attr('href', "/delsis/" + value.nis);
        cell3.innerHTML=ed[i].innerHTML;
        cell4.innerHTML=hp[i].innerHTML;

      });


    }
  });
}

function cariallupdate() {
  $.ajax({

    url: $SCRIPT_ROOT + "/carialltb_nis",
    success: function( response ) {
      // console.log('caritb:'+response);
$("#tb_siswa").find("tr:gt(0)").remove();
var table = document.getElementById("tb_siswa");
var i=0;

//masih error on Id
var ed=document.getElementsByClassName("dimgedit");
var hp=document.getElementsByClassName("dimghps");

  $.each(response, function(index, value) {
        i++;
        var rec = table.insertRow(i);
        var cell1 = rec.insertCell(0);
        var cell2 = rec.insertCell(1);
        var cell3 = rec.insertCell(2);
        var cell4 = rec.insertCell(3);
        // console.log("Nis: "+value.nis);
        cell1.innerHTML =value.nis;
        cell2.innerHTML = value.nama;
        cell3.innerHTML=ed[i-1].innerHTML;
        cell4.innerHTML=hp[i-1].innerHTML;

      });

    }
  });
}

function cariedit(ns){
  $.ajax({

    url: $SCRIPT_ROOT + "/cari_nisedit/" + ns,
    success: function( response ) {

      // console.log('edit: '+response);
      // $("#nisedit").val(response.nis);
      $.each(response, function(index, value) {

            $("#nisedit").val(value.nis);
            $("#namaedit").val(value.nama);
            $("#jenis_kelaminedit").val(value.jk);
              $("#alamatedit").val(value.alamat);
                $("#tgl_lahiredit").val(value.tgllahir);
console.log(value.tgllahir);
          });


    }
  });
}

function cari(ns){
  $.ajax({

    url: $SCRIPT_ROOT + "/cari_nis/" + ns,
    success: function( response ) {

      console.log('tes:'+response.result);
      if (response.result!=="ok") {

         console.log("kbaca");
         $("#nismsgerror").show("slow");
         document.getElementById("errornis").innerHTML =response.result;
      }
      else {
         document.getElementById("errornis").innerHTML ="";
         $("#nismsgerror").hide("slow");
      }
      // var t = JSON.parse(response);
      // console.log('RESponse:'+t[0]['toth']);



    }
  });
}

function delsis(ns){

  $.ajax({

    url: $SCRIPT_ROOT + "/delsis/" + ns,
    success: function( response ) {
      // tabupdatesiswa('updatesiswa');
      // console.log('tes:'+response.result);
      // if (response.result!=="ok") {
      //
      //    console.log("kbaca");
      //    $("#nismsgerror").show("slow");
      //    document.getElementById("errornis").innerHTML =response.result;
      // }
      // else {
      //    document.getElementById("errornis").innerHTML ="";
      //    $("#nismsgerror").hide("slow");
      // }
      // var t = JSON.parse(response);
      // console.log('RESponse:'+t[0]['toth']);



    }
  });
}


function vismsg(){

  var li = document.getElementById("errorfoto");
  if (li){
    $(".msgerror").show("slow");
  }
else {
  $(".msgerror").hide("slow");
  }
}

function fileSelect(evt) {
    if (window.File && window.FileReader && window.FileList && window.Blob) {
        var files = evt.target.files;

        var result = '';
        var file;
        for (var i = 0; file = files[i]; i++) {
            // if the file is not an image, continue
            if (!file.type.match('image.*')) {
                continue;
            }

            reader = new FileReader();
            reader.onload = (function (tFile) {
                return function (evt) {
                    // var div = document.createElement('div');
                    // div.innerHTML = '<img style="width: 90px;" src="' + evt.target.result + '" />';
                    var img='<img style="width: 90px;" src="' + evt.target.result + '" />';
                    // document.getElementById('filesInfo').appendChild(div);
                    document.getElementById('filesInfo').innerHTML=img;
                };
            }(file));
            reader.readAsDataURL(file);
        }
    } else {
        alert('The File APIs are not fully supported in this browser.');
    }
}

function tutupmsg(){

  $(".msgerror").hide("slow");
}

function tutupmsgnis(){

  $("#nismsgerror").hide("slow");
}

function cvt(element) {

 var file = element.files[0];

 var reader = new FileReader();

 reader.onloadend = function() {

   $("#imgpth").val(reader.result);

 }

 reader.readAsDataURL(file);

}

  function tabsiswa(evt,id){

    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");

    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(id).style.display = "block";
    evt.currentTarget.className += " active";
  }

  function tabnsiswa(id,tb){
  var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");

    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        // /alert(tablinks[i].className.replace(" active", ""));
    }

    if (tb==1) {
    document.getElementById(id).style.display = "block";
    tablinks[0].className += " active";
    console.log("tb1");
    }
    else {
    document.getElementById("updatesiswa").style.display = "block";
    tablinks[1].className += " active";
    console.log("tb2");
    }

  }

  function tabupdatesiswa(id){
  var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");

    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
        // /alert(tablinks[i].className.replace(" active", ""));
    }
    document.getElementById(id).style.display = "block";
    tablinks[1].className += " active";
  }


function setTahunmasuk(){
  var thn1=(new Date()).getFullYear();
$('#tahun_masuk').append('<option value='+ thn1 +"selected=selected>"+thn1+'</option>');
  var thn=(new Date()).getFullYear();
  for(var i=0;i<5;i++){
    thn=thn-1;
  $('#tahun_masuk').append('<option value='+ thn +">"+thn+'</option>');
  }

}

$(document).ready(function () {
$("#dedit").hide();
$(".dimgedit").hide();
$(".dimghps").hide();
$("#nismsgerror").hide("slow");


$('#caritb').keyup(function(e) {
console.log("cari");
var chatinput = document.getElementById("caritb").value;
console.log(chatinput);
if (chatinput == "" || chatinput.length == 0 || chatinput == null) {
  cariallupdate();
console.log("text kosong");
}

else {
  cariupdate($("#caritb").val());
}



});
  $('#nis').keyup(function(e) {

    if (e.keyCode == 13)
      {
        $("#nama").focus();
      }
    else
    {
        cari($("#nis").val());

    }

});

$('#nama').keyup(function(e) {

  if (e.keyCode == 13)
    {
      $("#jenis_kelamin").focus();
    }

});

$('#jenis_kelamin').keyup(function(e) {

  if (e.keyCode == 13)
    {
      $("#alamat").focus();
    }

});

$("#tgl_lahir").inputmask();
$("#tgl_lahiredit").inputmask();
$('#alamat').keyup(function(e) {

  if (e.keyCode == 13)
    {
      $("#tgl_lahir").focus();
    }

});
    vismsg();

   tabnsiswa('frminputsiswa',{{tb}});

   document.getElementById('filesToUpload').addEventListener('change', fileSelect, false);
   setTahunmasuk();

$("#editbatal").click(function() {
$("#dedit").hide("slow");
});


  });

</script>


{% endblock %}
<!-- "{{ url_for('static', filename='img/favicon.ico') }}" -->
