{% extends 'base.html' %}
{% block body %}

<div id="ddashboard">
  <div id="dlogout">
  <ul>
    <li><a href="{{ url_for('exit') }}">
      <img src='{{ url_for('static', filename='wlogout.png')}}' alt="logout"></a></li>
    <li><a href="{{ url_for('exit') }}">Logout</a></li>
  </ul>

  </div>

  <nav role="navigations">
  <div class="cmenu">
    <ul>
      <li> <a href="#">Data Siswa</a> </li>
      <li><a href="#">Data Presensi</a></li>
      <li> <a href="#">Data User</a> </li>
      <li><a href="#">Setting Presensi</a></li>
    </ul>
  </div>

  </nav>


  <div id="dlist" >

<form class="" action="index.html" method="post">
  <input type="text" name="user_n"  placeholder="Username">
  <input type="text" name="user_n"  placeholder="Username">
<input type="text" name="user_n"  placeholder="Username">
  <input type="text" name="user_n"  placeholder="Username">
</form>



  </div>

</div>

{% endblock %}
<!-- "{{ url_for('static', filename='img/favicon.ico') }}" -->
