{% extends 'base.html' %}
{% block body %}

<div id="ddashboard">
  <div id="dlogout">
  <ul>
    <li><a href="{{ url_for('exit') }}">
      <img src='{{ url_for('static', filename='wlogout.png')}}' alt="logout"></a></li>
    <li><a href="{{ url_for('exit') }}">Logout</a></li>
  </ul>

  </div>

  <nav role="navigations">
  <div class="cmenu">
    <ul>
      <li> <a href="#">Data Siswa</a><br>
        <div class="csubmenu">
            <span><a href="{{ url_for('inputdatasiswa') }}">Input Data Siswa</a></span><br>
            <span><a href="{{ url_for('caridatasiswa') }}">Cari Data</a></span> <br>
             <span><a href="{{ url_for('inputkelas') }}">Input Kelas</a></span><br>
            <span><a href="{{ url_for('statistiksiswa') }}">Statistik Siswa </a> </span>
        </div>

      </li>
      <li><a href="#">Data Presensi</a></li>
      <li> <a href="#">Data User</a> </li>
      <li><a href="#">Setting Presensi</a></li>
    </ul>
  </div>

  </nav>


  <div id="dlist" >
kelas
    <!--{% for row in rows %}-->
    <!--<tr>-->
        <!--<td>{{ row.nis }}</td>-->
        <!--<td>{{ row.nama }}</td>-->

    <!--</tr>-->
    <!--{% endfor %}-->


  </div>

</div>

{% endblock %}
<!-- "{{ url_for('static', filename='img/favicon.ico') }}" -->
